{% extends 'layout.html' %}

{% block title %}login{% endblock %}

{% block content %}
<div class="login-page full-screen sidebar-collapse">
  <div class="wrapper">
    <div class="page-header" style="background-image: url('https://res.cloudinary.com/geetechlab-com/image/upload/v1612913404/nwaben.com/concert-768722_1280_mptdmy.jpg');">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <div class="card card-register">
              <h3 class="card-title">Welcome</h3>
              <form class="register-form" method="post">
                {% csrf_token %}
                {% include 'includes/form.html' %}
                  <button class="btn btn-block btn-round" type="submit">Login</button>
              </form>
              <div class="forgot">
                <a href="..." class="btn btn-link btn-danger">Forgot password?</a>
                <a href="{% url 'accounts:signup' %}" class="btn btn-link btn-danger">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}