<nav aria-label="...">
  <ul class="pagination pagination-primary justify-content-center text-justify">
    {% if page_obj.has_previous %}
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">page</span>
    </li>
    <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
    <li class="page-item disabled">
      <span class="page-link">of</span>
    </li>
    <li class="page-item"><span class="page-link">{{ page_obj.paginator.num_pages }}</span></li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link"href="?page=href="?page={{ page_obj.next_page_number }}>Next</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</nav>
