{% extends 'layout.html' %}
{% block title %}Albums{% endblock %}

{% block content %}
    <body class="product-page sidebar-collapse">

        <div class="page-header page-header-xs" style="background-image: url('https://res.cloudinary.com/geetechlab-com/image/upload/v1612913403/nwaben.com/music-3888684_1280_gtqxnv.png');">
            <div class="filter"></div>
        </div>

        <div class="main">
            <div class="section">
              <div class="container align-content-center">
                <div class="row">
                  <div class="col-md-12">
                        <div class="description">
                            <h4 class="info-title">FURTHER DETAILS ON THE MUSIC</h4>
                            <br>
                            <p style="color: black">The music is basically meant to entertain you. You'll find that
                                they are indeed all sweet music with
                                lyrics that we try to keep generally positive and constructive.</p>
                            <br>
                            <p style="color: black">We are beginning with music that could be termed 'western' with
                                lyrics in English. Seven tracks of this kind are already
                                published in this music section of this website, some more of
                                this kind will follow with time. Later we hope to diversify into other
                                kinds of music and in some other languages. Time shall tell.</p>
                            <br>
                            <br>
                        </div>
                    <nav aria-label="breadcrumb" role="navigation">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Albums</li>
                      </ol>
                    </nav>
                  </div>
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table table-shopping">
                          <thead>
                              <tr>
                                  <th class="text-center"></th>
                                  <th class="text-center">Album name</th>
                                  <th class="text-center">No of tracks</th>
                                  <th class="text-center">Genre</th>
                                  <th class="text-center">Artist</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                          {% for album in albums %}
                              <tr>
                                  <td class="text-center">
                                      <div class="img-container">
                                          <img src="{{ album.image_url }}" alt="{{ album.album_name }}">
                                      </div>
                                  </td>
                                  <td class="td-name text-center">
                                      <a href="{% url 'mp3:album_detail' slug=album.slug %}">{{ album.album_name }}</a>
                                      <br><small>added by {{ album.uploaded_by }}</small>
                                  </td>
                                  <td class="text-center">
                                      {{ album.album_songs }}
                                  </td>
                                  <td class="text-center">
                                      {{ album.genre }}
                                  </td>
                                  <td class="text-center">
                                      {{ album.artist }}
                                  </td>

                                  {% if user.is_superuser  %}
                                      <td class="td-actions">
                                          <a class="btn btn-info btn-sm" type="submit" href="{% url 'mp3:delete_album' album.slug %}">
                                            <i class="fa fa-trash"></i> delete
                                          </a>
                                      </td>
                                  {% endif %}
                              </tr>
                          {% empty %}
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="fa fa-music"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title"> No Available Album Yet </h4>
                                </div>
                            </div>
                          {% endfor %}
                          </tbody>
                      </table>
                    </div>
                  {% if request.user.is_superuser %}
                    <div class="info">
                        <div class="description">
                            <p>
                            <a class="btn btn-primary btn-link" href="{% url 'mp3:add_album' %}">click here</a> to add albums</p>
                            </p>
                        </div>
                    </div>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
        </div>




    <script>
        let price = document.getElementById("{{ album.price }}");

      function makePayment() {
        FlutterwaveCheckout({
          public_key: {{ key|safe }},
          tx_ref: "hooli-tx-1920bbtyt",
          amount: price,
          currency: "NGN",
          payment_options: "card,mobilemoney,ussd",
          customer: {
            email: "{{ request.user.email|safe }}",
            phonenumber: "{{ request.user.phone|safe }}",
            name: "{{ request.user.username|safe }}",
          },
          callback: function (data) { // specified callback function
            console.log(data);
          },
          customizations: {
            title: "Nwaben Store",
            description: "Payment for the Music album",
            logo: "https://assets.piedpiper.com/logo.png",
          },
        });
      }
    </script>


    </body>
{% endblock %}