{% extends 'layout.html' %}
{% block title %}Albums{% endblock %}

{% block content %}
<body class="blog-posts sidebar-collapse">

  <div class="wrapper">
    <div class="main">
      <div class="section section-dark text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto text-center title">

              <div class="info">
                <div class="icon icon-primary">
                    <i class="fa fa-archive"></i>
                </div>
                <div class="description">
                    <h4 class="info-title">Here are available songs for {{ album.album_name }}</h4>
                    <p>This album was written and composed by {{ album.artist }} which currently has {{ album.album_songs }} track{{ album.album_songs|pluralize }}.</p>
                </div>
                <br>
                <br>
                <div class="description">
                    {% if request.user.is_authenticated and request.user in album.owned_by.all  %}
                        <p>Dear {{ request.user.username }} you can play and download all the songs for this album.</p>
                        <p>We thank you for your patronization and support.</p>
                    {% elif request.user.is_authenticated %}
                        <form>
                          <script src="https://js.paystack.co/v1/inline.js"></script>
                          <button class="btn btn-info btn-sm btn-icon" type="button" onclick="payWithPaystack()">click here and Buy the full album</button>
                        </form>
                    {% else %}
                        <p>Welcome, please you have to login to be able to buy this album <a class="btn btn-primary btn-link" href="{% url 'accounts:login' %}">click here</a> to login</p>
                    {% endif %}
                    <!-- place below the html form -->
                    <script>
                      function payWithPaystack(){
                        var handler = PaystackPop.setup({
                          key: '{{ key }}',
                          email: '{{ request.user.email|safe }}',
                          amount: {{ album.price|safe }} * 100,
                          ref: 'nwbn'+Math.floor((Math.random() * 100000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                          metadata: {
                             custom_fields: [
                                {
                                    display_name: "{{ request.user.username|safe }}",
                                    variable_name: "{{ request.user.email|safe }}",
                                    value: "{{ request.user.phone|safe }}"
                                }
                             ]
                          },
                          callback: function(response){
                              console.log(response.status);
                              if (response.status === "success") {
                                  swal("Payment complete!", "Reference: " + response.reference, response.status);
                                  $.ajax({
                                      url: "{% url 'mp3:album_detail' slug=album.slug %}",
                                      method: 'post',
                                      data: {'referenceId': response.reference, 'paid_user': '{{ request.user }}', 'album_name': '{{ album.album_name }}'},
                                      contentType: "application/x-www-form-urlencoded",
                                      success: function (response) {

                                      }
                                  });
                              }
                              else  {
                                  swal("Transaction was not completed", "window closed.", response.status);
                              }
                          },
                          onClose: function(){
                              swal("window closed.");
                          }
                        });
                        handler.openIframe();
                      }
                    </script>
                    <!--// place below the html form -->
                </div>
              </div>
            </div>
          </div>

          <table class="table text-white">
            <thead>
                <tr>
                    <th class="text-center">Song title</th>
                    <th class="text-center">Play</th>
                    <th class="text-center">Download</th>
{#                    <th class="text-center">Actions</th>#}
                </tr>
            </thead>
            <tbody>
            {% for song in songs %}
                <tr>
                    <td class="text-center">{{ song.song_title }}</td>

                    {% if request.user.is_superuser %}
                        <td class="text-center">
                            <audio controls="controls" controls="download"> <br>
                              <source src="{{ song.audio_file.url }}" type="audio/mp3" />
                            </audio>
                        </td>
                        <td class="td-actions text-center">
                            <a class="btn btn-info btn-sm btn-icon" href="{{ song.audio_file.url }}" type="submit" target="_blank" download>
                                <i class="fa fa-download"></i>
                            </a>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    {% elif request.user.is_authenticated and request.user in album.owned_by.all %}
                        <td class="text-center">
                            <audio controls="controls" controls="download"> <br>
                              <source src="{{ song.audio_file.url }}" type="audio/mp3"/>
                            </audio>
                        </td>
                        <td class="td-actions text-center">
                            <a class="btn btn-info btn-sm btn-icon" href="{{ song.audio_file.url }}" type="submit" target="_blank" download>
                                <i class="fa fa-download"></i>
                            </a>
                        </td>
                    {% elif request.user.is_authenticated %}
                        <td class="text-center">
                            <button
                                class="btn btn-primary btn-sm"
                                ngbPopover="Thank you for patronizing with us click on the link above to buy the full album"
                                popoverTitle="Buy the album to play"
                                title="Buy the album to play"
                                type="button">play</button>
                        </td>
                        <td class="td-actions text-center">
                            <a class="btn btn-info btn-sm btn-icon disabled" href="#">
                                <i class="fa fa-download"></i>
                            </a>
                        </td>
                    {% else %}
                        <td class="text-center">
                            <a type="button"
                                class="btn btn-primary btn-sm"
                                href="{% url 'accounts:login' %}"
                                ngbTooltip="login to buy this album and play"
                                placement="top"
                                type="button">play</a>
                        </td>
                        <td class="td-actions text-center">
                            <a class="btn btn-info btn-sm btn-icon disabled" href="#">
                                <i class="fa fa-download"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <div class="info">
                    <div class="description">
                        <h4 class="info-title">No Song list yet for this album</h4>
                        <p>No Song list yet for this album please check back often as we make the songs available stay tuned.</p>
                    </div>
                </div>
            {% endfor %}
            </tbody>
          </table>
            <hr>
            <br>
            <br>
            {% if user.is_superuser %}
                <a class="btn btn-primary btn-round btn-sm" href="{% url 'mp3:add_song' object.slug %}">Add songs here</a>
            {% endif %}
            <br>
            <br>
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}