{% extends "layout.html" %}
{% block title %}Create an Article{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h4 class="info-title text-center"> Create an Article </h4>
        <p class="text-center">Start a new article now or <a href="{% url 'articles:category_create' %}">click here</a> to add a new category</p>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {% include 'includes/form.html' %}
            <button class="btn btn-rotate btn-round" type="submit"><i class="fa fa-paper-plane"></i>publish article</button>
        </form>
    </div>
    <br>
{% endblock %}