{% extends 'layout.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Articles{% endblock %}

{% block content %}


<div class="blog-post sidebar-collapse">

  <div class="page-header page-header-small" data-parallax="true" style="background-image: url('{{ article.image_url }}')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="motto">
        <h1 class="title-uppercase text-center">{{ article.title }}</h1>
        <h3 class="text-center">{{ article.details|safe|truncatewords:10 }}</h3>
          <p>Scroll below to read the rest of the contents...</p>
        <br/>
        <a href="#" class="btn btn-warning btn-round btn-lg">
          <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
        </a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="main">
      <div class="section section-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center title">
              <h2>{{ article.title }}</h2>
              <h3 class="title-uppercase">
                <small>{{ article.author }}</small>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="text-center">
                <span class="badge badge-warning main-tag">{{ article.category }}</span>
                <a href="javascrip: void(0);">
                  <h3 class="title">{{ article.description|safe|linebreaks}}</h3>
                </a>
                <h6 class="title-uppercase">{{ article.created|naturaltime }}</h6>
              </div>
            </div>
            <div class="col-md-8 ml-auto mr-auto">
              <a href="javascrip: void(0);">
                <div class="card" data-radius="none" style="background-image: url('{{ article.image_url }}');"></div>
              </a>
              <div class="article-content">
                <p>
                    {{ article.body|safe|linebreaks }}
                </p>
              </div>
              <br/>
                <!--
              <div class="article-footer">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <h5>Tags:</h5>
                      <span class="label label-default">Motivational</span>
                      <span class="label label-default">Newsletter</span>
                      <span class="badge badge-warning">Trending</span>
                    </div>
                    <div class="col-md-4 ml-auto">
                      <div class="sharing">
                        <h5>Spread the word</h5>
                        <button class="btn btn-just-icon btn-twitter">
                          <i class="fa fa-twitter"></i>
                        </button>
                        <button class="btn btn-just-icon btn-facebook">
                          <i class="fa fa-facebook"> </i>
                        </button>
                        <button class="btn btn-just-icon btn-google">
                          <i class="fa fa-google"> </i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              -->
              <hr>
            <div class="row">
              <div class="container">
                  <div class="media">
                    <a class="pull-left" href="#">
                      <div class="avatar big-avatar">
                        <img class="media-object" alt="{{ article.author }}" src="{{ article.author.image_url }}">
                      </div>
                    </a>
                    <div class="media-body">
                      <p class="media-heading">by: <strong>{{ article.author }}</strong></p>

                      <p class="media-footer" >{{ article.author.bio }}</p>
                    </div>
                  </div>
              </div>
            </div>


        </div>
      </div>
    <hr>




    <div class="section section-nude-gray">
        <div class="container container-tim">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="media-area">
                <h3>Comment{{ comments.count|pluralize }} · {{ comments.count }}</h3>
                <!--  Comment                    -->
                {% for comment in comments %}
                <div class="media">
                  <a class="pull-left" href="#paper-kit">
                    <div class="avatar">
                      <img class="media-object" alt="Tim Picture" src="{{ comment.by.image_url }}">
                    </div>
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading">{{ comment.by.username }}</h5>
                    <div class="pull-right">
                      <h6 class="text-muted">{{ comment.created_on|naturaltime }}</h6>
                    </div>
                    <p>{{ comment.content|linebreaks }}</p>
                    <div class="media-footer">
                      <a href="#" class="btn btn-danger btn-link">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 0
                      </a>
                      <a href="#" class="btn btn-link">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i> 0
                      </a>
                      <a href="#" class="btn btn-link">
                        Follow · 0
                      </a>
                    </div>
                    <!--__Reply include tag goes here__-->

                  </div>
                </div>
                {% empty %}
                    <div class="media-body">
                        <p>No comment yet, be the first to comment this article...</p>
                    </div>
                <!-- end media -->
                {% endfor %}
              </div>

              <!-- end media-area -->
            <hr>
            </div>
            <!-- end col-md-8 -->
          </div>
          <!-- end row -->
        </div>
      </div>

    {% if user.is_authenticated %}
      <div class="section section-gray">
        <div class="container tim-container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h3 class="text-center">Post your comment</h3>
              <div class="media media-post">
                <a class="pull-left author">
                  <div class="avatar">
                    <img class="media-object" alt="64x64" src="{{ user.image_url }}">
                  </div>
                </a>
                <form class="form media-body" method="POST">
                    {% csrf_token %}
                    {% render_field form.content class="form-control" placeholder="write your comments here...", rows="4" %}
                  <div class="media-footer">
                    <button type="submit" class="btn btn-info btn-wd pull-right">Post Comment</button>
                  </div>
                </form>
              </div>
              <!-- end media-post -->
            {% else %}
                <h5 class="text-center">you need to <a href="{% url 'accounts:login' %}">login</a> to be able to comment this article</h5>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    {% endif %}

        <!--
          <div class="row">
            <div class="related-articles">
              <h3 class="title">Related articles</h3>
              <legend></legend>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <a href="pkp">
                      <img src="../assets/img/sections/damir-bosnjak.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                    </a>
                    <p class="blog-title">My Review of Pitchfork’s ‘Indie 500’ Album Review</p>
                  </div>
                  <div class="col-md-4">
                    <a href="pkp">
                      <img src="../assets/img/sections/por7o.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                    </a>
                    <p class="blog-title">Top Events This Month</p>
                  </div>
                  <div class="col-md-4">
                    <a href="pkp">
                      <img src="../assets/img/sections/jeff-sheldon.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                    </a>
                    <p class="blog-title">You Should Get Excited About Virtual Reality. Here’s Why.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>


            <!--<br>
            <div class="pagination-area">
              <ul class="pagination pagination-primary pagination-no-border justify-content-center">
                <li class="page-item">
                  <a href="#paper-kit" class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                </li>
                <li class="page-item active">
                  <a href="#paper-kit" class="page-link">1</a>
                </li>
                <li class="page-item">
                  <a href="#paper-kit" class="page-link">2</a>
                </li>

                <li class="page-item">
                  <a href="#paper-kit" class="page-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
          -->


</div>


{% endblock %}