{% extends 'layout.html' %}
{% load humanize %}

{% block title %}Articles{% endblock %}

{% block content %}
<div class="blog-posts sidebar-collapse">

  <div class="wrapper">
    <div class="main">
      <div class="section section-white">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto text-center title">
              <h4 class="info-title">Welcome to our blog channel</h4>
                <br>
                  <p>The ORDER aspect of our mission
                        is done through the BLOG section of our website,
                      nwaben.com.
                  </p>
                <br>
                <p>Through our publications in this section,
                    which we hope that all mankind will be reading, we wish to re-engineer
                    the whole of mankind to the fundamental orderly ways of living on
                    this planet, earth, according to the will of the Almighty Creator
                    of the whole universe. The orderly ways of living will touch every
                    aspect of life: Sex Reeducation, Resilience of Man; Happy Married
                    Life Forever; A Perfect Governmental System (that beats corruption
                    100% and brings supremely fast development);
                    Orderly and Highly Progressive Lifestyle for All
                    Walks of Life, etc.
                </p>
            </div>
          </div>
        {% for article in articles %}
          <div class="article">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="card" data-background="image" style="background-image: url('{{ article.image_url }}')">
                  <div class="card-body">
                    <h6 class="card-category">{{ article.category }}</h6>
                    <div class="card-icon">
                      <i class="fa fa-space-shuttle"></i>
                    </div>
                    <h3 class="card-title">{{ article.title }}</h3>
                    <p class="card-description">{{ article.description|safe|truncatewords:7 }}</p>
                      <p class="author">
                          by: <b>{{ article.author }}</b>, <br> This article was written {{ article.created|naturaltime }} with <span class="badge badge-danger main-tag">{{ article.view_count }} views</span>
                      </p>
                    <div class="card-footer">
                      <a href="{% url 'articles:article_detail' slug=article.slug %}" class="btn btn-danger btn-round card-link">
                        <i class="fa fa-book" aria-hidden="true"></i> Read Article
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
        {% empty %}
            {% if user.is_superuser %}
                <hr>
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h4 class="info-title text-center"> Articles are empty for now </h4>
                    <p class="text-center">Start an article now</p>
                    <br>
                    <p class="text-center"><a href="{% url 'articles:article_create' %}">Create an Article</a></p>
                </div>
            {% else %}
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="fas fa-newspaper"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"> Articles are empty for now </h4>
                        <p>This section will take off in a short while when
                    the write-ups are ready.<br>
                    Meanwhile, enjoy the music.</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <hr>
        {% include 'includes/pagination.html' %}

            {% if user.is_superuser %}
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"> ADMIN Article Panel Section </h4>
                        <p class="text-center">Click here to visit article<a href="{% url 'articles:article_dashboard' %}"><i class="fa fa-user-md"></i>admin panel</a></p>
                    </div>
                </div>
            {% endif %}

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}