
<!-- Tab panes -->
<div class="tab-content">
    {% if galleries %}
        <!-- Image Tab Pane -->
        <div class="tab-pane active" id="photo" role="tabpanel" aria-labelledby="home-tab">
            <!-- Upload Photo input modal -->
            {% if request.user.is_authenticated %}
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-move-right btn-round" data-toggle="modal"
                            data-target="#imageFormModal">
                        <i class="fa fa-music"></i> Upload Image
                    </button>
                </div>
                <br>
            {% else %}
                <div class="row justify-content-end">
                    <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}" class="btn btn-primary btn-round" type="button">
                        <i class="fa fa-upload"></i> upload
                    </a>
                </div>
                <br>
            {% endif %}

            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe.
                         It's a separate element as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>

                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">

                    <!-- Container that holds slides.
                            PhotoSwipe keeps only 3 of them in the DOM to save memory.
                            Don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <!--  Controls are self-explanatory. Order can be changed. -->

                            <div class="pswp__counter"></div>

                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                            <button class="pswp__button pswp__button--share" title="Share"></button>

                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>

                        <button class="pswp__button pswp__button--arrow--left"
                                title="Previous (arrow left)"></button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main image gallery -->
            <div id="image_list" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="row">
                    {% for g in galleries %}
                        {% if g.image %}
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"
                                    class="col-md-3 col-sm-4 gallery-item">
                                <a href="{{ g.image_url }}"
                                   itemprop="contentUrl"
                                   data-size="750x1002">
                                    <img src="{{ g.image_url }}"
                                         style="width: 200px; height: 200px"
                                         itemprop="thumbnail"
                                         alt="image memory"
                                         class="vertical-image img-rounded img-responsive"/>
                                </a>
                                <figcaption itemprop="caption description" class="gallery-caption">
                                    {{ g.description }}
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Image Tab Pane -->

        <!-- Video Tab Pane -->
        <div class="tab-pane" id="video" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Upload Video input modal -->
            {% if request.user.is_authenticated %}
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-move-right btn-round" data-toggle="modal"
                            data-target="#videoFormModal">
                        <i class="fa fa-music"></i> Upload Video
                    </button>
                </div>
                <br>
            {% else %}
                <div class="row justify-content-end">
                    <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}" class="btn btn-primary btn-round" type="button">
                        <i class="fa fa-upload"></i> upload
                    </a>
                </div>
                <br>
            {% endif %}


            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe.
                         It's a separate element as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>

                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">

                    <!-- Container that holds slides.
                            PhotoSwipe keeps only 3 of them in the DOM to save memory.
                            Don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <!--  Controls are self-explanatory. Order can be changed. -->

                            <div class="pswp__counter"></div>

                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                            <button class="pswp__button pswp__button--share" title="Share"></button>

                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>

                        <button class="pswp__button pswp__button--arrow--left"
                                title="Previous (arrow left)"></button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main image gallery -->
            <div id="image_list" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="row">
                    {% for g in galleries %}
                        {% if g.video %}
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"
                                    class="col-md-3 col-sm-4 gallery-item">
                                <a href="{{ g.video_url }}" itemprop="contentUrl" data-size="960x800">
                                    <iframe src="{{ g.video_url }}" alt="{{ g.description }}"
                                            class="horizontal-image img-rounded img-responsive"></iframe>
                                </a>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Video Tab Pane -->

        <!-- Audio Tab Pane -->
        <div class="tab-pane" id="audio" role="tabpanel" aria-labelledby="messages-tab">
            <!-- Upload Audio input modal -->
            {% if request.user.is_authenticated %}
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-move-right btn-round" data-toggle="modal"
                            data-target="#audioFormModal">
                        <i class="fa fa-music"></i> Upload Audio
                    </button>
                </div>
                <br>
            {% else %}
                <div class="row justify-content-end">
                    <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}" class="btn btn-primary btn-round" type="button">
                        <i class="fa fa-upload"></i> upload
                    </a>
                </div>
                <br>
            {% endif %}

            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th>Description</th>
                        <th class="th-description">audio</th>
                    </tr>
                    </thead>
                    <tbody id="video_list">
                    {% if g.audio %}
                        <tr>
                            <td>
                                <div class="img-container">
                                    <img src="https://img.icons8.com/color/480/000000/high-volume--v1.png"/>
                                </div>
                            </td>
                            <td>
                                <small>{{ g.description }}</small>
                            </td>
                            <td>
                                <audio controls="controls" controls="download"><br>
                                    <source src="{{ g.audio_url }}" type="audio/mp3"/>
                                </audio>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Audio Tab Pane -->
    {% else %}
        <div class="tab-pane active" id="photo" role="tabpanel" aria-labelledby="home-tab">
            <!-- Upload Photo input modal -->
            {% if request.user.is_authenticated %}
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-move-right btn-round" data-toggle="modal"
                        data-target="#imageFormModal">
                        <i class="fa fa-music"></i> Upload Image
                    </button>
                </div>
                <br>
            {% else %}
                <div class="row justify-content-end">
                    <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}" class="btn btn-primary btn-round" type="button">
                        <i class="fa fa-upload"></i> upload
                    </a>
                </div>
                <br>
            {% endif %}

            <div class="info">
                <div class="icon icon-primary">
                    <img src="https://img.icons8.com/color/48/000000/photo-album.png"/>
                </div>
                <div class="description">
                    <h4 class="info-title">Image Gallery Empty</h4>
                    <p>Click on the below button to add image memory photo of {{ memory.get_name }}</p>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="video" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Upload Video input modal -->

            {% if request.user.is_authenticated %}
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-move-right btn-round" data-toggle="modal"
                            data-target="#videoFormModal">
                        <i class="fa fa-music"></i> Upload Video
                    </button>
                </div>
                <br>
            {% else %}
                <div class="row justify-content-end">
                    <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}" class="btn btn-primary btn-round" type="button">
                        <i class="fa fa-upload"></i> upload
                    </a>
                </div>
                <br>
            {% endif %}

            <div class="info">
                <div class="icon icon-primary">
                    <img src="https://img.icons8.com/color/48/000000/video.png"/>
                </div>
                <div class="description">
                    <h4 class="info-title"> Video Gallery Empty</h4>
                    <p>Click on the below button to add video memory of the deceased</p>
{#                    <a href="#" class="btn btn-link btn-info">Add video</a>#}
                </div>
            </div>
        </div>

        <div class="tab-pane" id="audio" role="tabpanel" aria-labelledby="messages-tab">
            <!-- Upload Audio input modal -->
            {% if request.user.is_authenticated %}
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-move-right btn-round" data-toggle="modal"
                            data-target="#audioFormModal">
                        <i class="fa fa-music"></i> Upload Audio
                    </button>
                </div>
                <br>
            {% else %}
                <div class="row justify-content-end">
                    <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}" class="btn btn-primary btn-round" type="button">
                        <i class="fa fa-upload"></i> upload
                    </a>
                </div>
                <br>
            {% endif %}

            <div class="info">
                <div class="icon icon-primary">
                    <img src="https://img.icons8.com/color/48/000000/high-volume--v1.png"/>
                </div>
                <div class="description">
                    <h4 class="info-title"> Audio Gallery Empty</h4>
                    <p>Click on the below button to add audio memory of the deceased</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

