{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}about{% endblock %}

{% block content %}
<!-- SweetAlert -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<div class="about-us sidebar-collapse">
  <!-- Extra details for Live View on GitHub Pages -->

  <div class="page-header page-header-small" style="background-image: url('https://res.cloudinary.com/geetechlab-com/image/upload/v1612913403/nwaben.com/musicians-690591_1280_oculpq.jpg')">
    <div class="filter filter-danger"></div>
    <div class="content-center">
      <div class="container">
        <h3>MISSION STATEMENT OF THE NWAZURUOKE NWABEN FAMILY:</h3>
          <br>
        <h5>To make this world a more beautiful place through music and order.</h5>
          <h5>We are using this website to showcase our music to the whole world.</h5>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="section text-center landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <h3 class="title"> More Features from us: </h3>
            <h5>There is also the blogging section of this website where we publish some write ups that are meant for the positive
            development/improvement of the individual and the world in general.</h5>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="fa fa-file-audio-o"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Audio Files</h4>
                <p class="description">View our album to start playing...</p>
                <a href="{% url 'mp3:album_list' %}" class="btn btn-link btn-danger">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="fa fa-podcast"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Podcast</h4>
                <p>Play our album on podcast...</p>
                <a href="#" class="btn btn-link btn-danger">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="fa fa-soundcloud"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Sound Cloud</h4>
                <p>Download our album on sound cloud...</p>
                <a href="#" class="btn btn-link btn-danger">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="fa fa-headphones"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Play our Songs now.</h4>
                <p>Click to play our song at the go...</p>
                <a href="{% url 'mp3:album_list' %}" class="btn btn-link btn-danger">click to play <i class="fa fa-play-circle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark text-center landing-section">
      <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img src="https://cdn.nwaben.com/static/img/faces/clem-onojeghuo-3.jpg" alt="...">#}
{#                </a>#}
{#              </div>#}
              <div class="card-body">
                <a href="#">
                  <div class="author">
                    <h4 class="card-title">Mr E NwazuruokeNwaben</h4>
                    <h6 class="card-category text-muted">Site Owner/Admin</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Some details about him here..
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-gmail"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                  <img src="https://res.cloudinary.com/geetechlab-com/image/upload/v1576152194/geetech/faces/Gerard_uhbdyz.jpg" alt="...">#}
{#              </div>#}
              <div class="card-body">
                <a href="#">
                  <div class="author">
                    <h4 class="card-title">Gerard Nwazuruoke</h4>
                    <h6 class="card-category text-muted">FullStack Developer/Site Admin</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Some details about him here..
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-gmail"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img src="https://cdn.nwaben.com/static/img/faces/clem-onojeghuo-3.jpg" alt="...">#}
{#                </a>#}
{#              </div>#}
              <div class="card-body">
                <a href="#">
                  <div class="author">
                    <h4 class="card-title">Nwazuruoke Family</h4>
                    <h6 class="card-category text-muted">Priviledge Users</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Some details about us goes here..
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-gmail"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center">Keep in touch?</h2>

            <form class="contact-form" method="POST"> {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.email|as_crispy_field }}
                </div>
              </div> <br>
                    {{ form.phone|as_crispy_field }} <br>

                    {{ form.message|as_crispy_field }}
              <div class="row">
                <div class="col-md-4 offset-md-4">
                  <button class="btn btn-danger btn-lg btn-fill" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}