{% url 'home' as home %}
{% url 'accounts:login' as login %}
{% url 'accounts:signup' as register %}

{% if request.path == home or request.path == login or request.path == register %}
    <div class="demo-footer text-center">
      <h6>&copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="fa fa-heart heart"></i> by Geetech Lab</h6>
    </div>
  </div>
</div>
{% else %}
    <footer class="footer footer-black footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 ml-auto mr-auto">
          <div class="logo text-center">
            <h3>GeeTech Lab</h3>
          </div>
        </div>
        <div class="col-md-6 offset-md-2 col-sm-8">
          <div class="links">
            <ul>
              <li>
                <a href="{% url 'home' %}">
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'about' %}">
                  About
                </a>
              </li>
              <li>
                <a href="#">
                  Music
                </a>
              </li>
            </ul>
            <hr />
            <div class="copyright">
              <div class="pull-left">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> in NIG
              </div>
              <div class="pull-right">
                <ul>
                  <li>
                    <a href="https://www.geetechlab.com">
                      Terms
                    </a>
                  </li>
                  |
                  <li>
                    <a href="#paper-kit">
                      Privacy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endif %}