{% extends 'layout.html' %}

{% block title %}home{% endblock %}

{% block content %}

<div class="landing-page">
    <div class="wrapper">
      <div class="page-header" data-parallax="true">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="motto">
              <h1 class="title">Nwazuruoke-Nwaben</h1>
              <h3 class="description">Welcome to Nwazuruoke-Nwaben family website...</h3>
              <br />
              <a href="{% url 'about' %}" type="button" class="btn btn-outline-neutral btn-round">Click to start...</a>
            </div>

          </div>
        </div>
      </div>

{% endblock content %}