{% extends 'layout.html' %}

{% block title %}home{% endblock %}

{% block content %}

<div class="landing-page">
    <div class="wrapper">
      <div class="page-header" data-parallax="true" style="background-image: url('https://res.cloudinary.com/geetechlab-com/image/upload/v1612913404/nwaben.com/audience-868074_1280_ilrsh1.jpg')">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="motto">
              <h3 class="title">THE NWAZURUOKE NWABEN FAMILY WEBSITE</h3>
              <h5 class="description">The Nwazuruoke NwaBen family <br>hails from Achina in Anambra state of Nigeria, West Africa.</h5>
              <br/>
                <br/>
              <a href="{% url 'about' %}" type="button" class="btn btn-outline-neutral btn-round">Click for more...</a>
            </div>

          </div>
        </div>
      </div>

{% endblock content %}